<!doctype html>  
<html lang="en">
        <head id="head">
           <title>Group D Checkin</title>
           <meta charset="utf-8"/>  
           <script type="text/javascript" src="/js/plane.js"></script>
           <script>
                docLoaded(indexPageLoaded);
            </script>
       </head>
       <link rel="stylesheet" type="text/css" href="/css/design.css">
       <body>
           <main>
            <center>
            <header>
               <h1><span id="burger">Group D Checkin</h1>
               <div id="crop">
                      <img src="https://www.metoffice.gov.uk/binaries/content/gallery/mohippo/images/migrated-image/c/cirrus_clouds.jpg">
               </div>
            </header> 
            <h2>Press a seat to select it</h2> 
            <form action="/seatSelected" method="post" id="seatForm">
            </form>
            <div id="OBS">
            <h4>OBS! Rows 13, 14 and 15 are seats connected to emergency doors and you are reqired to be able to open the doors at an emergency
                 if seated on those rows. Hence travelers traveling with child, having a disability etc. don't select those seats.</h4>
            </div>
            </center>
           </main>
            </header>     
                   <script src="/jquery/dist/jquery.js"></script>
                   <script src="/socket.io/socket.io.js"></script>
                   <script src="/js/script.js"></script> 
                   <script src="/js/plane.js"></script>                 
       </body>  
</html>