<!doctype html>  
<html lang="en">
        <head id="head">
           <title>Group D Checkin</title>
           <meta charset="utf-8"/>  
           <script type="text/javascript" src="/js/plane.js"></script>
           <script>
                docLoaded(indexPageLoaded);
            </script>
       </head>
       <link rel="stylesheet" type="text/css" href="/css/design.css">
       <body>
           <main>
            <center>
            <header>
               <h1><span id="burger">Group D Checkin</h1>
               <div id="crop">
                      <img src="https://www.metoffice.gov.uk/binaries/content/gallery/mohippo/images/migrated-image/c/cirrus_clouds.jpg">
               </div>
            </header> 
            <h2>Press a seat to select it</h2> 
            </center>
           </main>
            </header>                   
                   <script src="/jquery/dist/jquery.js"></script>
                   <script src="/socket.io/socket.io.js"></script>
                   <script src="/js/script.js"></script> 
                   <script src="/js/plane.js"></script>                 
       </body>  
       <footer>&copy; Group D</footer>     
</html>