<!doctype html>  
 <html lang="en">
         <head id="head">
            <title>Group D Checkin</title>
            <meta charset="utf-8"/>
            <script src="/jquery/dist/jquery.js"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script src="/js/script.js"></script>     
        </head>
        <link rel="stylesheet" type="text/css" href="/css/design.css">
        <body>
            <main>
            <center>
                <header>
                <h1><span id="burger">Group D Checkin</h1>
                <div id="crop">
                       <img src="https://www.metoffice.gov.uk/binaries/content/gallery/mohippo/images/migrated-image/c/cirrus_clouds.jpg">
                </div>
                </header>      
                <form action="/action_page.php">
                    <div class="imgcontainer">
                    <img src="http://www.iconninja.com/files/791/598/492/humans-person-social-users-profile-friends-account-icon.svg" alt="Avatar" class="avatar">
                    </div>                
                    <div class="container">
                    <label><b>Booking number</b></label>
                    <p><input type="text" placeholder="Enter booking number" name="bnr" required></p>                
                    <p><label><b>Full name</b></label></p>
                    <p><input type="text" placeholder="Enter full name" name="tholder" required></p>
                    <button type="submit">Login</button>
                    </div>
                </form>
            </center>
            </main>
            </head>
                <footer>&copy; Group D</footer>        
</html>